.timer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-item {
  margin: 0 10px;
  text-align: center;
}

.timer-item span:first-child {
  font-size: 1.5rem;
  font-weight: bold;
}

.timer-item span:last-child {
  font-size: 0.8rem;
  color: #777;
}
